<div class="row" style="margin-top: 1rem">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-xs-5 form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" #name />
        </div>
        <div class="col-xs-5 form-group">
          <label for="amount">Amount:</label>
          <input type="text" class="form-control" id="amount" #amount />
        </div>
      </div>
      <div class="row" style="margin-top: 1rem">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" (click)="onAdd(name, amount)">Add</button>
          <button class="btn btn-danger" type="button">Delete</button>
          <button class="btn btn-primary" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
